# Environment
.env

# World data
data/
!data/.gitkeep

# Backups
backups/
*.tar.gz
*.zip

# Releases
releases/*.zip
!releases/.gitkeep

# OS files
.DS_Store
Thumbs.db
*.tmp
*.bak

# Personal configs
whitelist.json
ops.json
usercache.json
