version: '3.8'

services:
  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft-server
    ports:
      - "25565:25565"
      - "25575:25575"
    environment:
      EULA: "TRUE"
      TYPE: "FABRIC"
      VERSION: "1.21.5"
      FABRIC_LAUNCHER_VERSION: "latest"
      MEMORY: "${MEMORY:-10G}"
      ENABLE_RCON: "true"
      RCON_PASSWORD: "${RCON_PASSWORD:-minecraft}"
      RCON_CMDS_STARTUP: |
        defaultgamemode creative
        gamemode creative @a
        difficulty peaceful
        gamerule keepInventory true
        gamerule doDaylightCycle true
        gamerule doWeatherCycle true
        gamerule mobGriefing false
        time set day
      MODE: "creative"
      ALLOW_FLIGHT: "TRUE"
      SPAWN_PROTECTION: "0"
      MAX_PLAYERS: "10"
      VIEW_DISTANCE: "12"
      TZ: "Africa/Johannesburg"
      GUI: "FALSE"
      ENABLE_WHITELIST: "FALSE"
      OPS: "AdminPlayer"
      SERVER_NAME: "${SERVER_NAME:-Minecraft Server}"
      MOTD: "§d§lCreative Server§r\n§6Version 1.21.5"
      REMOVE_OLD_MODS: "TRUE"
    volumes:
      - ./data:/data
      - ./modpacks:/modpacks:ro
    restart: unless-stopped
    stdin_open: true
    tty: true
